<div id="pricing" class="w-full max-w-6xl mx-auto" x-intersect="activeStep = 'spy-3'">
  <div class="p-6 md:p-10 rounded-2xl bg-muted-200 dark:bg-muted-900">
    <div class="grid md:grid-cols-2 ltablet:grid-cols-3 lg:grid-cols-3 gap-6">
      
         <!-- Tarjeta de artículo 1 -->
<a href="https://www.mayoclinic.org/es/healthy-lifestyle/stress-management/in-depth/stress/art-20046037" target="_blank">
  <div class="h-full">
  <div class="w-full h-full rounded-xl px-6 md:px-8 pt-6 md:pt-8 pb-4 border border-muted-200 dark:border-muted-700 bg-white dark:bg-muted-800 transition-colors duration-300 flex flex-col justify-between">
    <h3 class="font-heading text-xl font-medium text-muted-800 dark:text-white mb-2">Cómo Manejar el Estrés en Tiempos de Incertidumbre</h3>
    <img src="public/img/screens/Estres.png" alt="Imagen del Artículo 1" class="w-full rounded-lg mb-2">
    <p class="font-sans text-sm text-muted-500 dark:text-muted-400">Descubre estrategias efectivas para gestionar el estrés y la ansiedad durante momentos de incertidumbre, como la pandemia, mediante consejos prácticos y recursos útiles.</p>
    <!-- Enlaces o botones de acción, como "Leer más" -->
  </div>
</div>
</a>

<!-- Tarjeta de artículo 2 -->
<a href="https://www.uho.edu.cu/2023/07/31/claves-para-mejorar-la-comunicacion-interpersonal/" target="_blank">
<div class="h-full">
  <div class="w-full h-full rounded-xl px-6 md:px-8 pt-6 md:pt-8 pb-4 border border-muted-200 dark:border-muted-700 bg-white dark:bg-muted-800 transition-colors duration-300 flex flex-col justify-between">
    <h3 class="font-heading text-xl font-medium text-muted-800 dark:text-white mb-2">Las Claves para una Comunicación Efectiva en las Relaciones</h3>
    <img src="public/img/screens/comunicacion.png" alt="Imagen del Artículo 1" class="w-full rounded-lg mb-2">
    <p class="font-sans text-sm text-muted-500 dark:text-muted-400">Explora técnicas y habilidades de comunicación interpersonal que pueden fortalecer tus relaciones personales y mejorar la comprensión mutua en diferentes contextos sociales.
    </p>
    <!-- Enlaces o botones de acción, como "Leer más" -->
  </div>
</div>
</a>

<!-- Tarjeta de artículo 3 -->
<a href="https://www.areahumana.es/superar-una-ruptura/" target="_blank">
<div class="h-full">
  <div class="w-full h-full rounded-xl px-6 md:px-8 pt-6 md:pt-8 pb-4 border border-muted-200 dark:border-muted-700 bg-white dark:bg-muted-800 transition-colors duration-300 flex flex-col justify-between">
    <h3 class="font-heading text-xl font-medium text-muted-800 dark:text-white mb-2">Cómo Superar una Ruptura Amorosa y Seguir Adelante</h3>
    <img src="public/img/screens/ruptura.png" alt="Imagen del Artículo 1" class="w-full rounded-lg mb-2">
    <p class="font-sans text-sm text-muted-500 dark:text-muted-400">Aprende a enfrentar el proceso de ruptura amorosa con consejos sobre cómo gestionar emociones difíciles, reconstruir la autoestima y encontrar nuevas perspectivas para seguir adelante.</p>
    <!-- Enlaces o botones de acción, como "Leer más" -->
  </div>
</div>
</a>

<!-- Tarjeta de artículo 4 -->
<a href="https://www.mundopsicologos.com/articulos/como-puedo-manipular-mi-mente-pare-mejorar-la-confianza-en-mi" target="_blank">
<div class="h-full">
  <div class="w-full h-full rounded-xl px-6 md:px-8 pt-6 md:pt-8 pb-4 border border-muted-200 dark:border-muted-700 bg-white dark:bg-muted-800 transition-colors duration-300 flex flex-col justify-between">
    <h3 class="font-heading text-xl font-medium text-muted-800 dark:text-white mb-2">Cómo Mejorar la Autoestima y la Confianza en Uno Mismo</h3>
    <img src="public/img/screens/autoconfianza.png" alt="Imagen del Artículo 1" class="w-full rounded-lg mb-2">
    <p class="font-sans text-sm text-muted-500 dark:text-muted-400">Descubre estrategias prácticas para cultivar una autoestima saludable y desarrollar una mayor confianza en ti mismo, explorando técnicas de autorreflexión y autocuidado.</p>
    <!-- Enlaces o botones de acción, como "Leer más" -->
  </div>
</div>
</a>

<!-- Tarjeta de artículo 5 -->
<a href="https://www.avancepsicologos.com/los-11-beneficios-de-la-terapia-psicologica-online/" target="_blank">
<div class="h-full">
  <div class="w-full h-full rounded-xl px-6 md:px-8 pt-6 md:pt-8 pb-4 border border-muted-200 dark:border-muted-700 bg-white dark:bg-muted-800 transition-colors duration-300 flex flex-col justify-between">
    <h3 class="font-heading text-xl font-medium text-muted-800 dark:text-white mb-2">Los Beneficios de la Terapia Online y Cómo Funciona</h3>
    <img src="public/img/screens/online.png" alt="Imagen del Artículo 1" class="w-full rounded-lg mb-2">
    <p class="font-sans text-sm text-muted-500 dark:text-muted-400">Explora las ventajas de la terapia en línea como una opción conveniente y accesible para abordar problemas de salud mental, comprendiendo cómo funcionan las sesiones virtuales y su efectividad.</p>
    <!-- Enlaces o botones de acción, como "Leer más" -->
  </div>
</div>
</a>

<!-- Tarjeta de artículo 6 -->
<a href="https://www.apa.org/topics/families/duelo" target="_blank">
<div class="h-full">
  <div class="w-full h-full rounded-xl px-6 md:px-8 pt-6 md:pt-8 pb-4 border border-muted-200 dark:border-muted-700 bg-white dark:bg-muted-800 transition-colors duration-300 flex flex-col justify-between">
    <h3 class="font-heading text-xl font-medium text-muted-800 dark:text-white mb-2">Cómo Afrontar el Duelo y Encontrar Consuelo en Tiempos de Pérdida</h3>
    <img src="public/img/screens/duelo.png" alt="Imagen del Artículo 1" class="w-full rounded-lg mb-2">
    <p class="font-sans text-sm text-muted-500 dark:text-muted-400">Aprende a manejar el proceso de duelo tras una pérdida significativa, descubriendo estrategias para honrar el proceso de duelo, encontrar apoyo emocional y buscar consuelo durante tiempos difíciles.</p>
    <!-- Enlaces o botones de acción, como "Leer más" -->
  </div>
</div>
</a>
  
      </div>
    </div>
  </div>
</div>